body {
  height: 1000px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .header-container{
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: #F4EEE7;
    .navbar-nav {
      .nav-link{

        &.active{
          color: #00ccff;
        }
      }
    }
  }
}

video {
  width: 100vw;
}